# include `SECRET` in the VARIABLE_NAME holding secret values to be omitted in .env.example
# translate keys by echo 'name' | tr "[a-z.]" "[A-Z_]"

### Prompt Validation Config ###

PROMPT_VALIDATION_LENGTH_MIN=1
PROMPT_VALIDATION_LENGTH_MAX=20

### Network ###
APP_SERVER_PORT=8080

### Logging ###
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_WEB=DEBUG

### OpenAI ###
SECRET_OPENAI_API_KEY=
OPENAI_API_CHAT_MODEL=gpt-3.5-turbo-1106
OPENAI_API_CHAT_TEMPERATURE=1.0
OPENAI_API_CHAT_MESSAGES_CONTENT_0_SYSTEM=You are converting sentences into funny sentences where the original nouns, verbs, adjectives, and adverbs are substituted for yoga poses like words by appending 'asana' or 'sana'.
OPENAI_API_CHAT_MESSAGES_CONTENT_1_USER=I am sorry boss, I am running late today.
OPENAI_API_CHAT_MESSAGES_CONTENT_2_ASSISTANT=I am sorry bossasana, I am runnasana latasana todaysana.
### OpenAI Tests###
TEST_SECRET_OPENAI_API_KEY=
