body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffe6e6;
}

#chat-container {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#chat-messages {
  padding: 16px;
  overflow-y: auto;
}

.message {
  word-wrap: break-word;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 4px;
  margin-top: 24px;
  position: relative;
}

.user-message {
  background-color: #ffe6f3; /* Light blue for user messages */
  text-align: left;
  margin-right: 50px; /* Adjust the margin to shift the bot's bubbles to the right */
}

.bot-message {
  background-color: #fff3e6; /* Light purple for bot messages */
  text-align: right;
  margin-left: 50px; /* Adjust the margin to shift the bot's bubbles to the right */
}

.label {
  font-family: 'Arial', sans-serif;
  position: absolute;
  font-size: 12px;
}

.user-label {
  top: -20px;
  left: 5px;
}

.bot-label {
  top: -20px;
  right: 5px;
}

.user-icon::before {
  content: '🧘'; /* User icon */
  margin-right: 5px;
}

.bot-icon::before {
  content: '🪷'; /* Bot icon */
  margin-right: 5px;
}

#user-input {
  display: flex;
  padding: 8px;
  align-items: center;
  border-top: 1px solid #ccc;
}

#user-input input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
}

#user-input button {
  background-color: #fa0082;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

#user-input input, .message {
  font-family: 'Dancing Script', cursive;
}

#user-input input:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 10px rgba(250, 0, 130);
}
